/* Styles go here */

.search-box {
  position: relative;
  width: 90%;
}

.search-results {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.actors{
  width: 70%;
  margin-left: 0;
  margin-top: 5px;
}